[defaults]
inventory = inventory/hosts.ini
private_key_file = ../../ai-forge/secrets/ssh/id_ed25519_ai_forge
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
roles_path = roles
